.reply-section {
  margin: 1.2rem;
  border-left: 2px solid $lightGrayishBlue;
}

.reply-box {
  position: relative;
  margin: 0 0 1.2rem 1.8rem;
  background-color: $white;
  display: flex;
  flex-direction: column;
  padding: 1.8rem;
  border-radius: 1rem;

  .user-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .user-img {
    width: 3.5rem;
    margin-right: 2rem;
  }
  .username {
    color: $darkBlue;
    font-size: 1.4rem;
    margin-right: 2rem;
  }
  .time {
    color: $grayishBlue;
    font-size: 1.4rem;
  }

  .text {
    font-size: 1.5rem;
    color: $grayishBlue;
    font-weight: 400;
    margin-bottom: 2rem;
  }

  .action {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .vote-box {
    width: 8rem;
    height: 3rem;
    border-radius: 5px;
    background-color: $lightGray;
    display: flex;
    justify-content: space-around;
    align-items: center;
    span {
      color: $moderateBlue;
      font-weight: 500;
      font-size: 1.6rem;
    }
  }
  button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;

    img {
      width: 1rem;
    }
  }
}
